.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparentize(getColor(black, 0), .6);
    z-index: 999;

    .modal-box {
        display: flex;
        flex-direction: row;
        background: linear-gradient(getColor(orange, 9),
            getColor(orange, 5));
        box-shadow: 0px 0px 140px getColor(black, 0);

        .modal-img {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .modal-data {
            flex: 1;
            text-align: center;
            padding: 20px 0 20px;

            h2 {
                color: getColor(blue, 0);
                font-size: 2.2em;
                margin: 10px 0 10px;
            }

            .data-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .svg-icon {
                    height: 25px;
                    margin-right: 5px;
                    fill: getColor(gray, 9);
                }

                .moustache {
                    width: 30px;
                    height: 100%;
                }

                p {
                    color: getColor(gray, 9);
                    font-weight: 600;
                    letter-spacing: 1px;
                }

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                }
            }

            .ul-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .svg-icon {
                    height: 25px;
                    margin-right: 5px;
                }

                p {
                    color: getColor(gray, 9);
                    font-weight: 600;
                    letter-spacing: 1px;
                }

                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                }

            }
        }
    }
}